body {
  background: beige;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100%;
}

.header {
  color: lightcoral;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

h1 {
  font-size: 25px;
}
