body {
  background: beige;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.container {
  min-height: 100%;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align:center;
}

.header {
  color: lightcoral;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

h1 {
  font-size: 30px;
  -webkit-text-stroke: .6px black;
  -webkit-text-fill-color: lightcoral;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

input {
  width: 40%;
  text-align:center;
}

.cases li{
  list-style-type: none;
  color: black;
  padding: 12px;
  margin-bottom: 15px;
  background: linear-gradient(lightcoral, beige);
  text-align:center;
  width:90%;
}
