body {
  background: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
}

@media only screen and (min-width: 1000px) {
  .container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align:center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align:center;
    justify-content: center;
  }
}

.header {
  color: lightcoral;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

h1 {
  font-size: 30px;
  -webkit-text-stroke: .4px beige;
  -webkit-text-fill-color: lightcoral;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

input {
  width: 40%;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .cases li{
    list-style-type: none;
    color: black;
    padding: 12px;
    margin-bottom: 15px;
    margin-right: 15px;
    background: linear-gradient(lightcoral, beige);
    text-align: center;
    width: 90%;
    flex: 0 1 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .cases li{
    list-style-type: none;
    color: black;
    padding: 12px;
    margin-bottom: 15px;
    margin-right: 0px;
    background: linear-gradient(lightcoral, beige);
    text-align: center;
    width:90%;
    flex: 1 0 auto;
  }
}